<tr>
  <td>
    <%= link_to vessel_path(vessel.id), class: 'list-thumb-link' do %>
      <%= image_tag(vessel.image_url) %>
    <% end %>
  </td>
  <td><%= vessel.name %></td>
  <td><%= vessel.vessel_type.name %></td>
  <td><%= vessel.imo %></td>
  <td><%= vessel.callsign %></td>
  <td><%= vessel.mmsi %></td>
  <td><%= vessel.dimensions %></td>
  <td><%= vessel.last_tracking.try(:area) || '-' %></td>
  <td><%= vessel.last_tracking.try(:last_seen) || '-' %></td>
</tr>
