<main class="vessels-main">
  <header class="title">
    <h1>
      Vessels
    </h1>
  </header>
  <% if @vessels.count != @total %>
    <div class="pagination-wrapper--top u-margin-top-tiny">
      <%== pagy_bootstrap_nav(@pagy) %>
      <i><%= t('default.showing_pagination_results', count: @vessels.count, total: @total) %></i>
    </div>
  <% end %>
  <% if @vessels.count > 0 %>
    <section class="vessels-table-section">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th><%= sort_link(t('.name'), 'name') %></th>
            <th><%= sort_link(t('.type'), 'type') %></th>
            <th><%= sort_link(t('.imo'), 'imo') %></th>
            <th><%= sort_link(t('.callsign'), 'callsign') %></th>
            <th><%= sort_link(t('.mmsi'), 'mmsi') %></th>
            <th><%= t('.dimensions') %></th>
            <th><%= sort_link(t('.area'), 'tracking_area') %></th>
            <th><%= sort_link(t('.last_seen'), 'tracking_last_seen') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @vessels %>
        </tbody>
      </table>
    </section>
  <% else %>
    <section class="btn-section">
      <%= link_to 'Scrape Trackings', scrape_trackings_path, class: 'btn btn--white' %>
    </section>
  <% end %>
  <% if @vessels.count != @total %>
    <div class="pagination-wrapper--bottom u-margin-top-small u-margin-bottom-small">
      <%== pagy_bootstrap_nav(@pagy) %>
      <i><%= t('default.showing_pagination_results', count: @vessels.count, total: @total) %></i>
    </div>
  <% end %>
</main>
