<tr>
  <td><%= image_tag(vessel.image_url) %></td>
  <td><%= vessel.name %></td>
  <td><%= vessel.vessel_type.name %></td>
  <td><%= vessel.imo %></td>
  <td><%= vessel.callsign %></td>
  <td><%= vessel.mmsi %></td>
  <td><%= vessel.dimensions %></td>
  <td><%= vessel.last_tracking.area %></td>
  <td><%= vessel.last_tracking.last_seen %></td>
</tr>
