<tr>
  <td><%= image_tag(tracking.vessel.image_url) %></td>
  <td><%= tracking.vessel.name %></td>
  <td><%= tracking.vessel.vessel_type.name %></td>
  <td><%= tracking.vessel.imo %></td>
  <td><%= tracking.vessel.callsign %></td>
  <td><%= tracking.vessel.mmsi %></td>
  <td><%= tracking.vessel.dimensions %></td>
  <td><%= tracking.area %></td>
  <td><%= tracking.last_seen %></td>
</tr>
