<main class="trackings-main">
  <header class="title">
    <h1>
      Trackings
    </h1>
  </header>
  <% if @trackings.count != @total %>
    <div class="pagination-wrapper--top u-margin-top-tiny">
      <%== pagy_bootstrap_nav(@pagy) %>
      <i><%= t('default.showing_pagination_results', count: @trackings.count, total: @total) %></i>
    </div>
  <% end %>
  <section class="trackings-table-section">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th><%= sort_link(t('.name'), 'vessel_name') %></th>
          <th><%= sort_link(t('.type'), 'vessel_type') %></th>
          <th><%= sort_link(t('.imo'), 'vessel_imo') %></th>
          <th><%= sort_link(t('.callsign'), 'vessel_callsign') %></th>
          <th><%= sort_link(t('.mmsi'), 'vessel_mmsi') %></th>
          <th><%= t('.dimensions') %></th>
          <th><%= sort_link(t('.area'), 'area') %></th>
          <th><%= sort_link(t('.last_seen'), 'last_seen') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @trackings %>
      </tbody>
    </table>
  </section>
  <% if @trackings.count != @total %>
    <div class="pagination-wrapper--bottom u-margin-top-small u-margin-bottom-small">
      <%== pagy_bootstrap_nav(@pagy) %>
      <i><%= t('default.showing_pagination_results', count: @trackings.count, total: @total) %></i>
    </div>
  <% end %>
</main>
